<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lean56.moneykiller">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application android:allowBackup="true"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:name=".MyApplication"
                 android:theme="@style/AppTheme">

        <!-- amap cfg -->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="9232005d6977214d672f82e8f51f0b07"/>

        <!-- umeng cfg -->
        <meta-data android:name="UMENG_APPKEY" android:value="YOUR_APP_KEY"/>

        <meta-data android:name="UMENG_CHANNEL" android:value="${CHANNEL_NAME}"/>

        <activity android:name=".ChoeungEkActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SettingActivity"
                  android:label="@string/setting"
                  android:screenOrientation="portrait"/>

        <activity android:name=".AboutActivity"
                  android:label="@string/about"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>
